parameters:
    level: 3
    paths:
        - music-wave-core
        - music-wave-vip
        - musicwave/functions.php
        - musicwave/patterns
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - tools/phpstan-bootstrap.php
        - tools/stubs/wp-cli.php
    excludePaths:
        analyse:
            - vendor